{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--정적 파일을 참조하는 템플릿 static태그 (STATICFILES_DIR의 path 를 기준으로 상대경로 설정함 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h2 class="blog-title"><a href=""> Post List</a></h2>

    {% for post in posts %}
    <div class="post">
        <h4 class="post-title"> {{ post.title }} </h4>
        <p class="content">{{ post.content| linebreaksbr | truncatewords:30}}</p>
        <p class="right-text"><strong>Date: </strong>{{ post.created_date}}</p>
        <p class="right-text"><strong>Author: </strong>{{ post.author.username}}</p>
    </div>
    <hr>
    {% endfor %}
</div>

</body>
</html>